@model UserWebApp.Models.ChartOfAccount

@{
    ViewBag.Title = "Ledger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This is ledger for the @Html.DisplayFor(modelItem => modelItem.AccountName) account</h2>

